@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Navigation bar css used from w3schools.com "navigation bar with icons" */

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(11, 9, 107);
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Banner image */

.img-fluid {
max-width: 100%;
height: auto;
}

/* social media buttons*/

.fab {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
  position: relative; left: 700px; top: 20px;
  
}

