/* Navigation bar css used from Youtube Tutorial "Dev Ed" */

/* Navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(11, 9, 107);
    font-family: 'Rajdhani', sans-serif;
    

}

.nav-links{
    color: white;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;


}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
        }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(11, 9, 107);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}





.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 40px;
    
}



/* Banner image */

.img-fluid {
max-width: 100%;
height: auto;
}

/* social media buttons */

.fab {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
  position: relative; left: 700px; top: 2px;
  color:  #fdfefe ;
  
}

/* footer */

#footer-content {
  background:rgb(11, 9, 107);
}

